html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
  
/* Обертка карточки */
.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(39, 119, 53, 0.2);
  margin: 16px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Заголовок карточки */
.card .title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Изображение продукта */
.card img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

/* Описание продукта */
.card p {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Цена продукта */
.card .price {
  font-weight: bold;
  color: #ff0000;
}

.buy-button {
  position: relative;
  margin-left: 20px;
  display: inline-flex;
  padding: 8px 16px;
  color: #1b4b19;
  background-color: #b4e0a8;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

/* Кнопка купить */
.card .buy-button {
  display: inline-block;
  padding: 8px 16px;
  color: #1b4b19;
  background-color: #b4e0a8;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
.card-container {
  display: flex;
  list-style-type: none;
}

.card {
  
  margin-right: 10px;
  /* Дополнительные стили для карточек */
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.row {
  display: flex;
  justify-content: space-between;
}

form {
  float:left;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 270px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:focus {
  outline: none;
}

.checkbox-container {
  clear: both;
  position: relative;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 270px;
 
  align-items: center;
}

.checkbox-container label {
  color: #0b6623;
  margin-right: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
  display: block;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content:last baseline;
}